header ul{
    background: #1ca8e0;
    display: flex;
    flex-direction();
list-style-type: none;
    padding: 20px;
   justify-content: center ;
}

header li {
    display: flex;
flex-direction();
    list-style-type: none;
    padding: 20px;
}

header a {
    color: darkred;
}
header img.displayed {
    position: absolute;
    left: 420px;
    top: auto;
    margin-left: auto;
    margin-right: auto;
}