header li {
    display: flex;
    /*flex-direction();*/
    list-style-type: none;
    padding: 20px;
}

input[type="text"] {
    border-radius: 5px;
    border-style: groove;
    padding: 2px;
}

input[type="number"] {
    border-radius: 5px;
    border-style: groove;
    padding: 2px;
}

textarea {
    border-radius: 5px;
    border-style: groove;
    padding: 2px;
}

header a {
    color: darkred;
}

header img.displayed {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

header ul {
    background: #1ca8e0;
    display: flex;
    /* flex-direction(); */
    list-style-type: none;
    padding: 20px;
    justify-content: center;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body section {
    width: 48%;
}

body form {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
}

body legend {
    color: darkred;
    margin-bottom: 10px;
}

body label {
    font-size: 13px;
}

body span {
    font-size: 15px;
}

footer {
    background-color: #91283b;
    height: 120px;
}

.btn-send {
    width: 10%;
}

.title {
    color: darkred;
    text-align: center;
}

.subtitle {
    color: darkred;
    text-align: center;
}

.gestion {
    margin: 20px;
}

.management {
    margin: 20px;
}

.informatique {
    margin: 20px;
}

.information {
    margin: 20px;
}

.sub-list {
    margin-left: 20px;
    margin-bottom: 10px;
}

.scolarity-text {
    resize: none;
}

.footersocial {
    text-align: center;
    color: white;
    text-decoration: none;
}

.footertext {
    font-size: 10px;
    color: white;
    margin-left: 10px;
    margin-top: 8px;
}

.icon {
    text-decoration: none;
    position: relative;
    top: 5px
}

.list {
    margin-left: 20px;
    margin-bottom: 10px;
}