@import url('https://fonts.googleapis.com/css?family=Poppins:900i');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');


header li {
    display: flex;

    list-style-type: none;
    padding: 20px;
}

.flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-bottom{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

header{
    background-image: url("https://free-images.com/lg/25d1/student_typing_keyboard_text.jpg");
    background-size: cover;
}

header figure {

    margin: 0px;
    padding: 50px;
}
header nav{

    height: 100%;
    margin: 0px;
}

textarea {
    background-color: #f7f7f7;
    border: #777 1px solid;
    overflow: hidden;
}

header a:hover{
    position: relative;
    font-size: 35px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    cursor: pointer;

    border-bottom: 5px solid white;
    border-left  : 50px solid transparent;
    border-right : 50px solid transparent;
    height : 0;
    width  : 1px;
    margin-left: 2px;
    font-size:2.5vw;
    text-align: center;
    padding: 15px 15px 30px;
    display: flex;
    justify-content: center ;
    border-radius: 50px;

    }

header a {
    text-decoration: none;
    border-bottom: 1px solid white;
    border-left  : 50px solid transparent;
    border-right : 50px solid transparent;
    height : 0;
    width  : 1px;
    margin-left: 2px;
    text-align: center;
    color: white;
    padding: 10px 10px 25px;
    display: flex;
    justify-content: center ;
    border-radius: 10px;
    font-size:2vw;
    text-shadow: 2px 2px 5px black ;
}



header ul{

    margin: 0px;

    display: flex;
    list-style-type: none;
    padding: 20px;
    justify-content: center ;
    }


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

body section {
    margin: 10px;

    padding: 10px;
    width: 50%;
}

body section:last-child {
    position: relative;
}

body form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body legend {
    color: #91283b;
    margin-bottom: 10px;
}

body label {
    font-size: 13px;
}

body span {
    font-size: 15px;
}

body select {
    width: 100%;
}

footer {
    background-color: #91283b;
    height: auto;

}


.title {
    color: #91283b;
    font: 600 2em/1.5 "Oswald"; color: #91283b;
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.subtitle {
    color: #91283b;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.gestion {
    margin: 20px;
}

.management {
    margin: 20px;
}

.informatique {
    margin: 20px;
}

.sub-list {
    margin-left: 20px;
    margin-bottom: 10px;
}

.scolarity-text {
    resize: none;
    width: 60%;
}

.footersocial {
    text-align: center;
    color: white;
    text-decoration: none;

}
.footersocialtext{
    text-align:center;
    color: white;
    text-decoration: none;
    position: relative; top: 20px
}

.footertext {
    font-size: 10px;
    color: white;
    margin-left: 10px;
    margin-top: 40px;
}

.icon {
    text-decoration: none;
    position: relative;
    top: 30px;

}

.list {
    margin-left: 20px;
    margin-bottom: 10px;
}

input {
    border-radius: 1px;
}


.banniere_management, .banniere_management1 {
    border-bottom: 70px solid #91283b;
    border-left  : 0px solid transparent;
    border-right : 110px solid transparent;
    height : 0;
    width  : 54%;
    margin-left: 20px;
    position: relative;
    z-index: 2;
}

.rectangle{
    width: 12px;
    height: 70px;
    background-color: #91283b;
    position:absolute;

    

}
.banniere_management1{
    opacity:0.6;
    width  : 100%;
    margin-left: 15px;
    position: absolute;
    top: 5px;
    z-index: 1
 }
.rectangle1{
    opacity:0.6;
    width: 12px;
    height: 70px;
    background-color: #91283b;
    margin-left: -5px;
    position: absolute; top: 5px;


}
.text-banniere{
    margin-left: 20%;
    position:relative;
    top: 20px;
    z-index:2;
    font-size:2vw;
     font-family:arial, sans-serif;
    color: white;
    text-shadow: 2px 2px 5px black ;
    width: 10%;
}

.border-line {
    height: 95%;
    border-right: 2px solid #91283b;
    margin-right: 20px;
    margin-left: 20px;
}



.powered{
    height: auto;
    width: 12%;
    margin-left: 83%;
}

 .btn-send {
     box-shadow:inset 0px 1px 0px 0px #cf866c;
     background:linear-gradient(to bottom, #b4283b 5%, #91283b 100%);
     background-color:#d0451b;
     border-radius:3px;
     border:1px solid #942911;
     display:inline-block;
     cursor:pointer;
     color:#ffffff;
     font-family:Arial;
     font-size:13px;
     padding:6px 40px;
     text-decoration:none;
     text-shadow:0px 1px 0px #854629;
 }

.btn-send:hover {
    background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    background-color:#bc3315;
}

.btn-send:active {
    position:relative;
    top:1px;
}

.btn-center {
    position: relative;
    width: 100%;
    margin-top: 10%;
}


.flex-ligne {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.p-title{
    display: flex;
    justify-content: center;
}

.p-subtitle {
    font: 400 1em/1 "Oswald", sans-serif;
    padding: .25em 0 .325em;
    display: block;
    margin: 2px;
}
h1{
    text-transform: uppercase;
    letter-spacing: 0.2em;
    border: 4px double #91283B;
    border-width: 4px 0;
    padding: 1.5em 0em;
    position: relative;
    top: 10px;
    width: 20em;
}

h2 {
    border: 4px double #91283B;
    border-width: 4px 0;
}

.formfield-select {
    position: relative;
}

.formfield-select--container {
    position: relative;

    background-color: #fff;
    border: #777 1px solid;
    margin: 0 0 1.5em 0;

    overflow: hidden;
}

.formfield-select--container select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 110%;

    height: auto;
    border: 0;
    margin: 0;
    padding: .75em;
    border-radius: 0;


    overflow: hidden;
    text-overflow: ellipsis;
}

.formfield-select--container::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: .75em;
    display: block;
    width: 0; height: 0;
    border-color: transparent;
    border-top-color: #444;
    border-width: 6px;
    border-style: solid;
    pointer-events: none;
}

input[type="date"] {
    background-color: #f7f7f7;
    border: #777 1px solid;
    overflow: hidden;
}

input[type="text"] {

    background-color: #f7f7f7;
    border: #777 1px solid;
    overflow: hidden;
}

input[type="tel"] {
    background-color: #f7f7f7;
    border: #777777 1px solid;
    overflow: hidden;
}

input[type="email"] {
    background-color: #f7f7f7;
    border: #777 1px solid;
    overflow: hidden;
}

input[type="radio"]{
    -webkit-appearance: none;
    position: relative;
    top: 4px
}
input[type="radio"]
{
    background: white;
    height: 12px;
    width: 12px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 12px;
    border: solid 2px;
}
input[type="radio"]:checked
{
    background: black;
    height: 12px;
    width: 12px;
    display:inline-block;
    padding: 0 0 0 0px;
}

@media screen and (max-width: 950px) {
    .banniere_management{
        border-bottom: 20px solid #91283b;
        width:22%;
    }
    .banniere_management1{
        border-bottom: 22px solid #91283b;
        width: 110%;
        top: 2px;

    }
    .rectangle {

        height: 20px;
    }
    .rectangle1 {
        height: 19px;
    }

    .text-banniere{
        font-size: 1vw;
        top:-3px;
    }

    .flex-responsive {
        display: flex;
        flex-direction: column;
        justify-content: left;
    }


    body form {
        flex-wrap: wrap;
    }

    body td {
        display: block;
    }

    input[type="date"] {
        width: 74%;
        background-color: #f7f7f7;
        border: #777 1px solid;
        margin: 0 0 1.5em 0;
        overflow: hidden;
    }

    input[type="text"] {
        width: 75%;
        background-color: #f7f7f7;
        border: #777 1px solid;
        margin: 0 0 1.5em 0;
        overflow: hidden;
    }

    input[type="tel"] {
        width: 75%;
        background-color: #f7f7f7;
        border: #777 1px solid;
        margin: 0 0 1.5em 0;
        overflow: hidden;
    }

    input[type="email"] {
        width: 75%;
        background-color: #f7f7f7;
        border: #777 1px solid;
        margin: 0 0 1.5em 0;
        overflow: hidden;
    }

    .border-line{
        border-right: 0px;
        height: 0px;
        margin-right:  100px;
    }


    #conteneur{
        height: 150px;
    }

    .btn-center {
        position: relative;
        width: 100%;
        margin-top: 10%;
    }

}
